<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    로비 로그인 성공
    <div id="loginedList">
        <ul>
            <li th:each="user:${loginedUser}" th:text="${user}"></li>
        </ul>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function timeoutReload(){  
        setInterval('listReload()',1000); 
    }
    function listReload(){
        $("#loginedList").load(location.href + " #loginedList");
    }
    $(function(){
        timeoutReload();
    });
</script>
</html>